@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;
    --red-hat-display: "Red Hat Display", serif;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    text-align: center;
    padding: 48px 80px 0 80px;
}

.hero {
    padding-top: 64px;
    padding-bottom: 32px;
    overflow: clip;
}

.hero > .hero-img-smartphone {
    display: flex;
    justify-content: center;
}

.hero > .hero-img-smartphone > .hero-img-small {
    width: 120%;
    height: 50%;
}

.hero-img-desktop-left,
.hero-img-desktop-right {
    display: none;
}

.hero-content {
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
}

.hero-content > h1 {
    font-family: var(--red-hat-display);
    font-size: 4rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: center;
    color: var(--slate-900);
    margin-top: 48px;
    margin-bottom: 24px;
    padding: 0 20px 0 20px;
}

.hero-content > p {
    font-family: var(--red-hat-display);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    color: var(--slate-600);
    margin-bottom: 24px;
}

.hero-content > button {
    display: inline-block;
    padding: 16px 40px;
    border-radius: 29px;
    color: white;
    font-family: var(--red-hat-display);
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 900;
    border: none;
    cursor: pointer;
}

.btn-download {
    background-color: var(--cyan-600);
    margin-bottom: 16px;
}

.btn-download > span {
    color: var(--cyan-300);
}

.btn-about {
    background-color: var(--purple-600);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 32px 32px 64px 32px;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle {
    width: 1px;
    height: 80px;
    background-color: var(--slate-300);
}

.number > p {
    width: 56px;
    height: 56px;
    color: var(--slate-600);
    font-family: var(--red-hat-display);
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--slate-300);
    border-radius: 50%;
}

.photos {
    max-width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.photos > img {
    max-width: 100%;
    border-radius: 8px;
}

.text-content {
    text-align: center;
}

.text-content > h3 {
    font-family: var(--red-hat-display);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: 4px;
    color: var(--cyan-600);
    margin-bottom: 16px;
}

.text-content > h2 {
    font-family: var(--red-hat-display);
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: 0px;
    line-height: 110%;
    color: var(--slate-900);
    margin-bottom: 32px;
}

.text-content > p {
    font-family: var(--red-hat-display);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    color: var(--slate-600);
}

.text-footer {
    background: linear-gradient(#4d97a9d7, #4d97a9d7), url(../images/mobile/image-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-top: -28px;
    padding: 64px 32px;
}

footer > .number > p {
    background-color: var(--white);
}

.text-footer > h2 {
    font-family: var(--red-hat-display);
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    color: var(--white);
}

.text-footer > p {
    font-family: var(--red-hat-display);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 150%;
    color: var(--white);
}

.text-footer > button {
    display: inline-block;
    padding: 16px 40px;
    border-radius: 29px;
    color: white;
    font-family: var(--red-hat-display);
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 900;
    border: none;
    cursor: pointer;
}

.btn-download-footer {
    background-color: var(--purple-600);
    margin-bottom: 16px;
}

.btn-download-footer > span {
    color: var(--purple-300);
}

@media (width > 767px) {
    .hero > .hero-img-smartphone > .hero-img-small {
        width: 120%;
        height: 100%;
    }

    .hero-content {
        margin: auto;
        max-width: 60%;
    }

    .hero-content > h1 {
        font-size: 4.8rem;
        margin-top: 72px;
    }

    .btn-download {
        margin-bottom: 0;
        margin-right: 17px;
    }

    .content {
        padding: 56px 32px 64px 32px;
    }

    .photos {
        gap: 24px;
        grid-template-columns: repeat(4, 1fr);
    }

    .text-content {
        max-width: 504px;
    }

    .text-content > h2 {
        margin-left: auto;
        margin-right: auto;
        max-width: 445px;
        font-size: 3.6rem;
    }

    .text-footer {
        background: linear-gradient(#4d97a9d7, #4d97a9d7), url(../images/tablet/image-footer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .text-footer > h2,
    .text-footer > p,
    .text-footer > button {
        max-width: 504px;
    }

    .text-footer > h2 {
        font-size: 3.6rem;
    }
}

@media (width > 1023px) {
    body {
        max-width: 1440px;
        margin: auto;
    }

    header {
        padding: 80px 80px 0 80px;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .hero-content {
        max-width: 450px;
    }

    .hero-content > h1 {
        font-size: 5.3rem;
    }

    .hero-img-smartphone {
        display: none !important;
    }

    .hero-img-desktop-left,
    .hero-img-desktop-right {
        display: block;
    }

    .content {
        padding: 56px 80px 72px 80px;
    }

    .content > div {
        max-width: 1120px;
    }

    .photos {
        gap: 32px;
    }

    .text-content {
        max-width: 544px !important;
    }
    
    .text-content > h3 {
        font-size: 1.6rem;
    }

    .text-content > h2 {
        font-size: 4rem;
    }

    .text-content > p {
        font-size: 1.8rem;
    }

    .text-footer {
        background: linear-gradient(#4d97a9d7, #4d97a9d7), url(../images/desktop/image-footer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
        text-align: left;
        padding: 112px 80px;
    }

    .text-footer > h2 {
        font-size: 4rem;
    }

    .text-footer > p {
        font-size: 1.8rem;
    }
}

@media (width > 1022px) and (width < 1269px) {
    .btn-download {
        margin-bottom: 17px;
        margin-right: 0;
    }
}